<div class="index-page">

    <div class="branding d-flex align-items-center">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <h3 class="sitename">e-Commerce Gapsi</h3>
            </a>
        </div>
    </div>

    <main class="main">
        <section class="center">
            <!-- Section Title -->
            <div class="container section-title">              
                <div class="text-center">          
                    <br />
                    <br />
                    <img src="assets/img/gapsi_logo.jpeg" alt="">        
                    <br />
                    <br />
                    <h2>Bienvenido candidato</h2>
                    <br />
                    <br />
                <button class="btn btn-primary" (click)="goToPage('proveedores')">Continuar</button>
                </div>
            </div>
        </section>
    </main>
</div>