 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">       

      <p>
        <strong>El módulo CRUD de Proveedores te permitirá:</strong>
<br/><br/>
        Crear un nuevo registro : llena el formulario y posteriormente da clic en guardar.        <br/><br/>
        Ver todos los registros : automaticamente se actualiza cuando agregar un nuevo registro, actualizas, eliminas o accedes a la página.<br/><br/>
        Editar un registro : Da clic en el boton editar (lapiz), automaticamente se llenaran los campos con los valores anteriores, actualizalos y cuando termines da clic en actualizar.        <br/><br/>
        Eliminar un registro: Daclic en el boton borrar (bote de basura) se te pedira confirmes la acción.<br/><br/>
      </p>

      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="goToPage('landing')"  >
          <i class="bi bi-logout"></i>
          <span>Salir</span>
        </a>
      </li>
        
    </ul>

  </aside><!-- End Sidebar-->